{{ if or .Params.mermaid .Site.Params.mermaid }}
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.8.0/dist/mermaid.min.js"
    crossorigin="anonymous"></script>
<script>
    mermaid.init({
        "theme": document.documentElement.classList.contains('dark') ? 'dark' : 'base'
    });
    // Replace mermaid pre.code to div
    Array.from(document.getElementsByClassName("language-mermaid")).forEach(
        (el) => {
            el.parentElement.outerHTML = `<div class="mermaid">${el.innerText}</div>`;
        }
    );
</script>
<style>
    /* Set svg to center */
    .mermaid {
        border: 2px solid #444444;
        border-radius: 10px;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .mermaid[data-processed] {
        opacity: 1;
    }

    .mermaid svg {
        display: block;
        margin: auto;
    }
</style>
{{ end }}