{{ define "main" }}

{{ $pages := site.RegularPages }}
{{ range $pages.GroupByPublishDate "2006" }}
{{ if ne .Key "0001" }}
<div class="archive-year">
    <h2 class="archive-year-header">
        {{ replace .Key "0001" "" }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup>
    </h2>
    <div class="archive-month">
        <div class="archive-posts">
            {{- range .Pages }}
            {{- if eq .Kind "page" }}

                <section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
                    {{ if gt .Weight 0 }}
                    <span
                    class="mb-2 inline-block text-[0.8rem] font-medium uppercase tracking-wider text-[#ff3b2d] opacity-70"
                    >Featured</span
                    >
                    {{ end }}
                    <h2 class="!my-0 pb-1 font-bold !leading-none">{{ .Title }}</h2>
                    <time class="text-sm opacity-60"
                    >{{ .Date | time.Format .Site.Params.dateFormat }}</time
                    >
                    <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
                </section>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}

{{ end }}{{/* end main */}}